streamlit==1.28.1
pandas==1.5.3
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
plotly==5.15.0
scikit-learn==1.3.0
tensorflow>=2.13.0git add requirements.txt
streamlit-option-menu==0.3.6
openpyxl==3.1.2
